<center>
<h1>Add your new cat below </h1>
<form action="<%= cats_url %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="cat[name]">
  <br />
  <label for="birth_date">Date Of Birth</label>
    <input type="date" id="birth_date" name="cat[birth_date]">
  <br />
    <label for="color">Color</label>
    <select name="cat[color]" >
      <option selected>-- Select A Color --</option>
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="orange">Orange</option>
      <option value="yellow">Yellow</option>
      <option value="violet">Violet</option>
    </select>
  <br />
  <label for="sex">Sex</label>
  <br />
    <input type="radio" name="cat[sex]" value="M"> Male<br>
    <input type="radio" name="cat[sex]" value="F"> Female<br>
  <br />
  <label for="description">Description</label>
  <textarea type="text" id="description" name="cat[description]">
  </textarea>
  <br />
  <input type="submit" value="meow me">
</form>
</center>